[submodule "backend"]
	path = backend
    url = git@github.com:grupo-meteorologia/backend_meteorologia.git 
    branch = main
[submodule "frontend"]
	path = frontend
	url = git@github.com:grupo-meteorologia/frontend_meteorologia.git
    branch = main
