[submodule "backend"]
	path = backend
	url = https://github.com/grupo-meteorologia/backend_meteorologia
    branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/grupo-meteorologia/frontend_meteorologia
    branch = main
